html::-webkit-scrollbar {
    display: none;
}
:root {
    --footer-h: 85px;
}
html{
    height: 100%;
	background: url("background.jpg");
}
body {
	font-family: Headers;
	background: transparent;
	padding-bottom:125px;
}
@font-face {
	font-family: Headers;
	src: url("Modenine-2OPd.ttf");
	font-weight: bold;
}
.container {
	width: 100%;
	height: 100%;
	padding-bottom: var(--footer-h);
}
main {
	width: 100%;
	height: 100%;
	overflow: auto;
    color: #EEEEEE;
}
h1 {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 75px;
	text-align: center;
    color: #EEEEEE;
}
h2 {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 40px;
	text-align: center;
    color: #EEEEEE;
}
h3 {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 30px;
	text-align: center;
    color: #EEEEEE;
}
p, li {
	margin-bottom: 20px;
	line-height: 26px;
    font-size: 24px;
    text-align: left;
    color: #EEEEEE;
}
.youtube {
	height: 400px;
	width: 40%;
	border-radius: 15px;
}
iframe{
	width:100%;
	height:100%;
	margin: auto;
}
iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}
.button{
	position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 150px;
    height: 70px;
    border: solid #EEEEEE;
    text-align: center;
    margin: 15px;
	font-weight: unset;
	font-family: monospace;
	color: #EEEEEE;
    left: 50%;
    transform: translate(-61%,65%);
	border-radius: 15px;
}
.button:hover {
    background: darkcyan;
}
.button p{
	padding-top: 17px;
	margin: auto;
}
.information{
	display: flex;
	flex-flow: column nowrap;
	padding-left: 2lh;
    padding-right: 2lh;
	text-align: center;
}
.information p {
	margin-bottom: 20px;
	line-height: 26px;
    font-size: 24px;
	justify-content: center;
    color: #EEEEEE;
	text-align: center;
}
.information img {
	border: #EEEEEE 5px solid;
	align-self: center;
	width: 600px;
	border-radius: 15px;
}
.information h1 {
	justify-content: center;
}
.documentation{
	display: flex;
	flex-flow: column nowrap;
	padding-left: 2lh;
    padding-right: 2lh;
	text-align: left;
}
.documentation p {
	margin-bottom: 20px;
	line-height: 26px;
    font-size: 24px;
    color: #EEEEEE;
}
.documentation img {
	border: #EEEEEE 5px solid;
	align-self: center;
	width: 600px;
	border-radius: 15px;
}
.documentation h1, h2, h3 {
	text-align: left;
}
.codeblock {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 17px;
	font-family: monospace;
	overflow: auto;
}
.codeblock p {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
	color:white;
}
.orange {
	color:rgb(255, 89, 0);
}
.purp {
    color:rgb(115, 0, 255);
}
.white {
    color: white;
}
.pink {
	color: rgb(255, 136, 255);
}
.blue {
	color: rgb(80, 205, 255);
}
.green {
	color: rgb(0, 255, 106)
}
.footer {
	width: 100%;
	background-color: #000000;
	border-radius: 15px;
	position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--footer-h);
    line-height: var(--footer-h);
    text-align: center;
    z-index: 9999;
}
@media screen and (max-width: 760px) {
	:root {
    	--footer-h: 100px;
	}
}
@media screen and (max-width: 800px) {
	.information img {
		width: 500px;
	}
	.information h1{
		font-size: 28px;
	}
	h1 {
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 5px;
	}
	p	{
		font-size: 10px;
		line-height: 12px;
	}
	.youtube {
		margin-left: 10%;
		margin-right: 10%;
		height: 200px;
		width: 70%;
	}

}
@media screen and (max-width: 500px) {
	.information img {
	width: 300px;
}
}
.navbar {
	overflow: hidden;
	background-color: #0000009a;
	font-family: Arial;
	border-radius: 15px;
 }
.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.dropdown {
	float: left;
	overflow: hidden;
}
.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #0077ff4f;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #0000009a;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	float: none;
	color: rgb(255, 255, 255);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover {
	background-color: #0077ff4f;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.cardcont {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.card img {
	width: 350px;
}
.card {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	border: #EEEEEE 5px solid;
	border-radius: 15px;
	align-items: center;
	justify-content: center;
	width: 375px;
	padding: 10px;
	margin: 25px;
	background: #0000009a;
}
.card:hover {
	background: #0077ff4f;
}
.wtitle {
	font-size: 35px;
}
.textlogo {
	height: 15px;
	text-wrap-mode: nowrap;
}
a:visited {
	color:white;
}